PORT=5000
CLIENT_URL=https://farmer-management-system-red.vercel.app
MONGODB_URI=mongodb://localhost:27017/farmer

JWT_SECRET=mySuperSecretKey123456

JWT_EXPIRES_IN=7d


CLOUDINARY_CLOUD_NAME=doqwq3nta
CLOUDINARY_API_KEY=248856965648311
CLOUDINARY_API_SECRET=5Xah2q7yBilJ9x0qz9LpVLHkJXg